<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profiles.ModernDeveloper Sidebar</title>
	<link rel="stylesheet" href="sidebar.css">
</head>
<body>
	<aside class="sidebar">
		<h1 class="one-word-per-line">Brian Hernandez</h1>
		<div class="image-container">
			<img src="https://cloud.githubusercontent.com/assets/1489880/16897868/1b55bdd8-4b8e-11e6-803f-109f397c81da.jpeg" alt="Photo of Brian">
			<img src="https://cloud.githubusercontent.com/assets/1489880/16897922/27cab372-4b91-11e6-8e72-02a81fb9e6a5.jpg" alt="Brian's Family">
			<img src="https://cloud.githubusercontent.com/assets/1489880/16897926/4aadc226-4b91-11e6-9a13-831d992d2356.jpg" alt="Holi Hai Photo"><div style="clear: both;"></div>
		</div>
		<hr>
		<h2>About the Developer</h2>
		<p>Brian Hernandez is an Aquarius and a lover of his greater human family across the planet.  He is passionate about the environment, the latest in computing technologies and interstellar travel.  He spends his time consuming self-improvement media and practicing martial arts.  An idealist and romantic at heart, Brian tends to like bright, vibrant colors and simple, minimalist design styles.  It is his dream to be a top full-stack developer one day.</p>
		<p><span>&#x21ab;</span> <em><a href="#">Back to Full Profile</a></em></p>
	</aside>
</body>
</html>