<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Product Listing Page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Heebo:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="productlisting.css">
</head>
<body>
	<header class="banner">
		<div>
			<span></span><p>Don't deliver a product.<br>  Deliver an experience.</p>
		</div>
	</header>
	<section class="product_listings">

		<div class="product"><img src="http://placehold.it/230x150/A9FF8B"><p class="product_title">Hope Divine</p><p class="product_price">$15.00</p><p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cupiditate perspiciatis necessitatibus cum quam, debitis, provident exercitationem facere at ratione fuga, nam. Omnis reprehenderit quas sed ex deserunt ipsam saepe.</p></div>

		<div class="product"><img src="http://placehold.it/230x150/FFC2B4"><p class="product_title">Love Pure</p><p class="product_price">$17.00</p><p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates    cum quam, debitis, provident exercitationem facere at ratione fuga, nam. Omnis reprehenderit quas sed ex deserunt ipsam saepe.</p></div>

		<div class="product"><img src="http://placehold.it/230x150/FF5551"><p class="product_title">Anger Raging</p><p class="product_price">$15.00</p><p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cupiditate perspiciatis necessitatibus cum quam, debitis, provident exercitationem facere at ratione fuga, nam. Omnis reprehenderit quas sed ex deserunt ipsam saepe.</p></div>

		<div class="product"><img src="http://placehold.it/230x150/A0B5CF"><p class="product_title">Sadness Eternal</p><p class="product_price">$9.00</p><p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cupiditate perspiciatis necessitatibus cum quam, debitis, provident exercitationem facere at ratione fuga, nam. Omnis reprehenderit quas sed ex deserunt ipsam saepe.</p></div>

		<div class="product"><img src="http://placehold.it/230x150/660101"><p class="product_title">Pain Gnashing</p><p class="product_price">$11.00</p><p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cupiditate perspiciatis necessitatibus cum quam, debitis, provident exercitationem facere at ratione fuga, nam. Omnis reprehenderit quas sed ex deserunt ipsam saepe.</p></div>

		<div class="product"><img src="http://placehold.it/230x150/FFFE42"><p class="product_title">Ecstasy Enchanting</p><p class="product_price">$22.00</p><p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cupiditate perspiciatis necessitatibus cum quam, debitis, provident exercitationem facere at ratione fuga, nam. Omnis reprehenderit quas sed ex deserunt ipsam saepe.</p></div>

		<div class="product"><img src="http://placehold.it/230x150/6BFFE8"><p class="product_title">Interest Piquing</p><p class="product_price">$16.00</p><p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cupiditate perspiciatis necessitatibus cum quam, debitis, provident exercitationem facere at ratione fuga, nam. Omnis reprehenderit quas sed ex deserunt ipsam saepe.</p></div>

		<div class="product"><img src="http://placehold.it/230x150/C290BB"><p class="product_title">Courage Unwaving</p><p class="product_price">$12.00</p><p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cupiditate perspiciatis necessitatibus cum quam, debitis, provident exercitationem facere at ratione fuga, nam. Omnis reprehenderit quas sed ex deserunt ipsam saepe.</p></div>

		<div class="product"><img src="http://placehold.it/230x150/28C81E"><p class="product_title">Envy Greening</p><p class="product_price">$10.00</p><p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cupiditate perspiciatis necessitatibus enderit quas sed ex deserunt ipsam saepe.</p></div>

		<div class="product"><img src="http://placehold.it/230x150/4683FF"><p class="product_title">Amazement Sheer</p><p class="product_price">$21.00</p><p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cupiditate perspiciatis necessitatibus cum quam, debitis, provident exercitationem facere at ratione fuga, nam. Omnis reprehenderit quas sed ex deserunt ipsam saepe.</p></div>

		<div class="product"><img src="http://placehold.it/230x150/FF9F54"><p class="product_title">Anticipation Gush</p><p class="product_price">$18.00</p><p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates  perspiciatis  cum quam, debitis, provident exercitationem facere at ratione fuga, nam. Omnis reprehenderit quas sed ex deserunt  saepe.</p></div>

		<div class="product"><img src="http://placehold.it/230x150/C2B5DD"><p class="product_title">Remorse Filling</p><p class="product_price">$15.00</p><p class="product_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates cupiditate perspiciatis necessitatibus cum quam, debitis, provident exercitationem facere at ratione fuga, nam. Omnis reprehenderit quas sed ex deserunt ipsam saepe.</p></div>

		
	</section>
	<section class="secondary_section">
		<div class="shopping_cart">
			<span class="cart_column">Product Image</span>
			<span class="cart_column">Product Title</span>
			<span class="cart_column">Price</span>
			<span class="cart_column">QTY</span>
			<span class="cart_column">Subtotal</span>
			<hr>
			<div class="cart_item">
				<div class="item_image"><img src="http://placehold.it/100x60/C2B5DD"><br><button>Remove</button></div>
				<div class="item_title">Remorse Filling</div>
				<div class="item_price">$15.00</div>
				<div class="item_quantity"><input type="text" maxlength="3" value="1"><br><span><a href= id="#">Update</a></span></div>
				<div class="item_subtotal">$15.00</div>
			</div>

			<div class="cart_item">
				<div class="item_image"><img src="http://placehold.it/100x60/4683FF"><br><button>Remove</button></div>
				<div class="item_title">Amazement Sheer</div>
				<div class="item_price">$21.00</div>
				<div class="item_quantity"><input type="text" maxlength="3" value="1"><br><span><a href= id="#">Update</a></span></div>
				<div class="item_subtotal">$21.00</div>
			</div>

			<div class="cart_item">
				<div class="item_image"><img src="http://placehold.it/100x60/FF5551"><br><button>Remove</button></div>
				<div class="item_title">Anger Raging</div>
				<div class="item_price">$15.00</div>
				<div class="item_quantity"><input type="text" maxlength="3" value="1"><br><span><a href= id="#">Update</a></span></div>
				<div class="item_subtotal">$15.00</div>
			</div>

		</div>
	</section>
	<footer class="footers">
		<div class="foot1"><p>Foot1 ipsum dolor sit amet, consectetur adipisicing elit. Molestias fuga quae at, placeat cupiditate corrupti, fugit neque sapiente, itaque enim voluptatum cum molestiae est reprehenderit! Et commodi, molestiae nisi eum!</p></div>
		<div class="foot2"><p>Foot2 ipsum dolor sit amet, consectetur adipisicing elit. Molestias fuga quae at, placeat cupiditate corrupti, fugit neque sapiente, itaque enim voluptatum cum molestiae est reprehenderit! Et commodi, molestiae nisi eum!</p></div>
		<div class="foot3"><p>Foot3 ipsum dolor sit amet, consectetur adipisicing elit. Molestias fuga quae at, placeat cupiditate corrupti, fugit neque sapiente, itaque enim voluptatum cum molestiae est reprehenderit! Et commodi, molestiae nisi eum!</p></div>
		<div class="foot4"><p>Foot4 ipsum dolor sit amet, consectetur adipisicing elit. Molestias fuga quae at, placeat cupiditate corrupti, fugit neque sapiente, itaque enim voluptatum cum molestiae est reprehenderit! Et commodi, molestiae nisi eum!</p></div>
	</footer>
	
</body>
</html>