<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login Form</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="login.css">
</head>
<body>
	<div class="login_box">
		<h1>Login</h1>
		<form action="questionnaire.html" method="post">
			<input type="text" id="login_name" name="login_name" placeholder="Username" required="true"><span></span>
			<input type="password" id="user_password" name="user_password" placeholder="Password" required="true"><span></span>

			<input type="submit" value="Submit"><label for="remember_user"><input type="checkbox" id="remember_user"><span></span>Keep Me Logged In</label>
		</form>
	</div>
</body>
</html>