<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Questionnaire Form</title>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="questionnaire.css">
</head>
<body>
	<form action="questionnaire.html" method="post">
		<h1>Questionnaire</h1>
		<fieldset>
			<legend>Please Choose An Element</legend>
				<input type="radio" id="fire" name="element" value="Fire"><label for="fire"><span></span>Fire</label><br />
				<input type="radio" id="earth" name="element" value="Earth"><label for="earth"><span><span></span></span>Earth</label><br />
                <input type="radio" id="metal" name="element" value="Metal"><label for="metal"><span></span>Metal</label><br />
                <input type="radio" id="wood" name="element" value="Wood"><label for="wood"><span></span>Wood</label><br />
                <input type="radio" id="water" name="element" value="Water"><label for="water"><span></span>Water</label><br />
                <input type="radio" id="wind" name="element" value="Wind"><label for="wind"><span></span>Wind</label><br />
                <input type="radio" id="other" name="element" value=""><label for="other"><span></span>Other</label><input type="text" name="other_element" placeholder="Love">
		</fieldset>
	</form>
</body>
</html>